a {
  color: black;
}
a:hover {
  color: yellow;
}
a:active {
  color: blue;
}
a:visited {
  color: green;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
}

.join {
  width: 100%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block {
  width: 300px;
  height: 300px;
  background: orange;
  margin: 10px;
}

.two {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: 6px solid red;
}

.free {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: silver;
}
.free:hover {
  background: white;
}

.title {
  font-size: 24px;
  font-weight: 900;
  color: black;
  text-decoration: none;
  margin: 0 10px 20px 10px;
  padding: 0;
}

.text {
  font-size: 16px;
  font-weight: 300;
  color: blue;
  text-decoration: none;
  margin: 0 10px 0 10px;
  padding: 0;
}